<template name="no_decks">
  <p>You don't have any decks yet! <a href="/decks/create">Create one to get started.</a></p>
</template>

<template name="decks">
<div class="content-col" id="decks">
  <nav class="row-header-nav">
    <div class="nav-wrapper row-header">
      <h5>decks</h5>
      <form>
        <div class="switch">
          <label>
            just me<input type="checkbox"><span class="lever"></span>everyone
          </label>
        </div>
        <div class="search-wrapper">
          {{> EasySearch.Input index=decksIndex }}
          <i class="mdi mdi-magnify"></i>
        </div>
      </form>
      <button id="new-deck-btn">create</button>
    </div>
  </nav>
  <div>
    <div class="row row-body">
    {{#EasySearch.Each index=decksIndex}}
      {{>deck_card}}
    {{/EasySearch.Each}}

    {{#EasySearch.IfNoResults index=decksIndex}}
      {{>no_decks}}
    {{/EasySearch.IfNoResults}}

    {{> EasySearch.LoadMore index=decksIndex}}
    </div>
  </div>
</div>
</template>

<template name="create_deck">
<div class="main-view create-deck">
  <div id="sidebar-left">
    <ul class="collapsible" data-collapsible="expandable">
      <li id="sidebar-instructions">
        <div class="collapsible-header active">
          <nav class="row-header-nav">
            <div class="nav-wrapper row-header">
              <h5>slides</h5>
            </div>
          </nav>
          <form>
            <!-- <div class="switch">
              <label>
                just me<input type="checkbox"><span class="lever"></span>everyone
              </label>
            </div> -->
            <div class="search-wrapper">
              <input id="search-slides" type="search">
              <i class="mdi mdi-magnify"></i>
            </div>
          </form>
        </div>
        <div class="slides-results" id="slide-source">
          {{#if slides}}
            {{#each slide in slides}}
              {{>slide_card slide}}
            {{/each}}
          {{else}}
            {{>no_slides}}
          {{/if}}
        </div>
      </li>
     </ul>
  </div>
  <div id="content-pane">
    <a id="save_deck_btn">
      save deck
    </a>
    <nav class="row-header-nav">
      <div class="nav-wrapper row-header" id="deck-metadata">
        <input class="deck-metadata" id="deck-title" type="text" placeholder="title" name="title">
        <input class="deck-metadata" id="deck-author" type="text" placeholder="author" value="{{currentUser.profile.name}}" name="author">
        <input class="deck-metadata" id="deck-description" type="text" placeholder="description" name="description">
        <div class="tags-wrapper"><input class="deck-metadata" id="deck-tags" type="text" placeholder="tags" name=""></div>
      </div>
    </nav>
    <div id="slide-receiver">

    </div>
  </div>
</div>
</template>

<template name="deck_card">
<div class="card deck-card slide-card" id="{{_id}}">
  <div class="card-content">
    <h4>{{title}}</h4>
    {{description}}
    {{#each tag in tags}}
      <span class="nsg-tag">{{tag}}</span>
    {{/each}}
    <div class="deck-card-count">
      <h5>{{size}} cards</h5>
    </div>
    <div class="deck-card-btn-bar">
      <!-- <a href="#" class="deck-edit">edit</a> -->
      <a href="#" class="deck-present">present</a>
    </div>
  </div>
</div>
</template>
