<template name="home">
  <div class="valign-wrapper" id="landing-wrapper">
    <div class="valign">
      <img class="responsive-img" id="landing-logo" src="/img/logo_wide.svg">
      <h2 class="center-align" id="tagline">instant pick-and-mix slide decks</h2>
      <div class="collection">
        <a href="#!" class="collection-item">Create slide</a>
        <a href="#!" class="collection-item">Create deck</a>
        <a href="#!" class="collection-item">Present deck</a>
        <a href="#!" class="collection-item">Manage library</a>
        <a href="#!" class="collection-item">Help</a>
      </div>
    </div>
  </div>
</template>
