<template name="home">
  <div class="valign-wrapper" id="home-wrapper">
    <div class="valign">
      <img class="responsive-img" id="home-logo" src="/img/logo_wide.svg">
      <h4 class="center-align" id="tagline">instant pick-and-mix slide decks</h4>
      <div class="container">
        <div class="collection" id="home-menu">
          <a href="/slides" class="collection-item"><i class="mdi mdi-crop-square"></i>Slides</a>
          <a href="/decks" class="collection-item"><i class="mdi mdi-checkbox-multiple-blank-outline"></i>Decks</a>
          <a href="/help" class="collection-item"><i class="mdi mdi-panorama-fisheye"></i> Help</a>
          <a href="/logout" class="collection-item"><i class="mdi mdi-close"></i> Logout</a>
        </div>
      </div>
    </div>
  </div>
</template>
