<template name="library">
<div class="main-view" id="library-main-view">
  <ul class="breadcrumb">
    <li>home</li>
    <li>library</li>
  </ul>
  <div class="content-col" id="decks">
    <nav class="row-header-nav">
      <div class="nav-wrapper row-header">
        <h5>decks</h5>
        <form>
          <div class="switch">
            <label>
              just me<input type="checkbox"><span class="lever"></span>everyone
            </label>
          </div>
          <div class="search-wrapper">
            {{> EasySearch.Input index=decksIndex }}
          </div>
        </form>
      </div>
    </nav>
    <div>
      <div class="row row-body">
      {{#EasySearch.Each index=decksIndex}}
        {{>deck_card}}
      {{/EasySearch.Each}}

      {{#EasySearch.IfNoResults index=decksIndex}}
        {{>no_decks}}
      {{/EasySearch.IfNoResults}}

      {{> EasySearch.LoadMore index=decksIndex}}
      </div>
    </div>
  </div>
  <div class="content-col" id="slides">
    <nav class="row-header-nav">
      <div class="nav-wrapper row-header">
        <h5>slides</h5>
        <form>
          <div class="switch">
            <label>
              just me<input type="checkbox"><span class="lever"></span>everyone
            </label>
          </div>
          <div class="search-wrapper">
            {{> EasySearch.Input index=slidesIndex }}
          </div>
        </form>
      </div>
    </nav>
    <div class="row row-body">
    {{#EasySearch.Each index=slidesIndex}}
      {{>slide_card}}
    {{/EasySearch.Each}}

    {{#EasySearch.IfNoResults index=slidesIndex}}
      {{>no_slides}}
    {{/EasySearch.IfNoResults}}

    {{> EasySearch.LoadMore index=slidesIndex}}
    </div>
  </div>
</div>
</template>


<template name="no_decks">
  <p>You don't have any decks yet! <a href="/decks/create">Create one to get started.</a></p>
</template>

<template name="no_slides">
  <p>You don't have any slides yet! <a href="/slides/create">Create</a> or <a href="/slides/import">import</a> some to get started.</p>
</template>
