<template name="slides">
<ul id="slide-menu" class='dropdown-content'>
  <li><a href="#!" class="menu-edit-card">one</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="menu-delete-card">two</a></li>
</ul>
<div class="content-col" id="slides">
  <nav class="row-header-nav">
    <div class="nav-wrapper row-header">
      <h5>slides</h5>
      <form>
        <div class="switch">
          <label>
            just me<input type="checkbox"><span class="lever"></span>everyone
          </label>
        </div>
        <div class="search-wrapper">
          {{> EasySearch.Input index=slidesIndex }}
          <i class="mdi mdi-magnify"></i>
        </div>
      </form>
      <button id="new-slide-btn">create</button>
    </div>
  </nav>
  <div class="row row-body">
  {{#EasySearch.Each index=slidesIndex}}
    {{>slide_card}}
  {{/EasySearch.Each}}

  {{#EasySearch.IfNoResults index=slidesIndex}}
    {{>no_slides}}
  {{/EasySearch.IfNoResults}}

  {{> EasySearch.LoadMore index=slidesIndex}}
  </div>
</div>
</template>

<template name="no_slides">
  <p>You don't have any slides yet! <a href="/slides/create">Create</a> some to get started.</p>
</template>

<template name="create_slide">
<div class="main-view create-slide">
  <div id="sidebar-left">
    {{>create_slide_sidebar}}
  </div>
  <div id="content-pane">
    <a id="save_slide_btn">
      save slide
    </a>
    {{>slide_editor}}
  </div>
</div>
</template>

<template name="edit_slide">
{{>create_slide}}
</template>

<template name="create_slide_sidebar">
<ul class="collapsible" data-collapsible="expandable">
  <li id="sidebar-instructions">
    <div class="collapsible-header">
      Instructions
    </div>
    <div class="collapsible-body">
      <p>Create your card using markdown in the space on the right.</p>
      <p>Use the <a class="fa fa-eye" href="#"></a> button to toggle a preview of your slide.</p>
      <p>When you are done, press <code>save slide</code> at the top right.</p>
      <p>The <strong>METADATA</strong> tab below can be used to provide information about this slide. You can use this information in the slide with handlebar tags. For example to display the title, use <code>{{|slide.title}}</code>.</p>
      <p>Some metadata fields are always present:
        <ul>
          <li><code>title</code></li>
          <li><code>author</code></li>
          <li><code>background-image</code> (can be empty). If present, the linked image is used as the background of the slide.</li>
          <li><code>tags</code> (can be empty)</li>
        </ul>
      </p>
      <p>In addition to these standard fields, you can add custom fields. This allows you to use arbitrary data in your slide, and in the future will allow mass generation of slides from a template and data.</p>
      <p>The values of fields you create can be used in the slide with the syntax <code>{{|slide.fieldname}}</code>. For example if you create a field called <code>subject</code>, you can use the value by entering <code>{{|slide.subject}}</code>.</p>
    </div>
  </li>
  <!-- TEMPLATES - TODO: implement this -->
   <!-- <li>
     <div class="collapsible-header">
       Templates
     </div>
     <div class="collapsible-body">
       {{#each template in templates}}
         {{>template_card template}}
       {{/each}}
     </div>
   </li> -->
   <li>
     <div class="collapsible-header active">
       Metadata
     </div>
     <div class="collapsible-body" id="slide-editor-metadata">
       <form id="md_card_form">
         <div class="input-field">
           <label for="md_card_title" class="active">Title</label>
           <input type="text" name="title" id="md_card_title" value="New slide">
         </div>
         <div class="input-field">
           <label for="md_card_author" class="active">Author</label>
           <input type="text" name="author" id="md_card_author" value="{{currentUser.profile.name}}">
         </div>
         <div class="input-field">
           <label for="md_card_bg_img">Background image URL</label>
           <input type="text" name="bg_img" id="md_card_bg_img">
         </div>
         <div class="input-field" id="tags-container">
           <label for="md_card_tags">Tags (comma-separated )</label>
           <div><input type="text" name="tags" id="md_card_tags"></div>
         </div>
       </form>
       <div class="new_field row">
         <div class="input-field col s9">
           <input name="field_name" type="text" id="field_name" placeholder="name of new field">
         </div>
         <div class="input-field col s3">
           <a id="md_addfield_btn">add field</a>
         </div>
       </div>
     </div>
   </li>
 </ul>
</template>

<template name="template_card">
<div class="card grey lighten-4 template-card">
  <div class="card-content">
    <span class="card-title">{{name}}</span>
    <div class="card-truncated">{{description}}</div>
  </div>
</div>
</template>

<template name="slide_editor">
<div id="slide-editor-entry">
  <div id="slide-editor-content">
    {{> MDEdit id='slide-editor-mde' defaultContent="# {{slide.title}}\n\nby {{slide.author}}\n\n- this is a list\n- it has multiple entries\n\n1. this is a numbered list\n2. like above, but with NUMBERS!\n\n### A random image\n\n![](http://lorempixel.com/750/150)\n\n.right[.footnote[a footnote]]"}}
  </div>
</div>
</template>

<template name="slide_card">
{{#if image}}
  {{>slide_image_card}}
{{else}}
  {{>slide_text_card}}
{{/if}}
</template>

<template name="slide_text_card">
<div class="card slide-card slide-text-card" id="{{id}}">
  <div class="card-content">
    <span class="card-title">{{title}}</span>
    <div class="card-truncated">{{#markdown}}{{truncatedContent}}{{/markdown}}
      {{#each tag in tags}}
        <span class="nsg-tag">{{tag}}</span>
      {{/each}}
    </div>
  </div>
  <div class="card-menu">
    <button class="edit-slide-btn">
      <i class="mdi mdi-pencil"></i>
    </button>
    <button class="delete-slide-btn">
      <i class="mdi mdi-delete"></i>
    </button>
    <button class="fave-slide-btn">
      <i class="mdi mdi-star"></i>
    </button>
  </div>
  <div class="slide-no"></div>
  <div class="slide-faves"><i class="mdi mdi-star"></i>{{n_faves}}</div>
</div>
</template>

<template name="slide_image_card">
<div class="card slide-card slide-image-card" id="{{id}}">
  <div class="card-image">
    <img class="slide-card-img" src="{{image}}">
    <span class="card-title">{{title}}</span>
  </div>
  <div class="card-content">
    <div class="card-truncated">{{#markdown}}{{truncatedContent}}{{/markdown}}
      {{#each tag in tags}}
        <span class="nsg-tag">{{tag}}</span>
      {{/each}}
    </div>
  </div>
  <div class="card-menu">
    <button class="edit-slide-btn">
      <i class="mdi mdi-pencil"></i>
    </button>
    <button class="delete-slide-btn">
      <i class="mdi mdi-delete"></i>
    </button>
    <button class="fave-slide-btn">
      <i class="mdi mdi-star"></i>
    </button>
  </div>
  <div class="slide-no"></div>
  <div class="slide-faves"><i class="mdi mdi-star"></i>{{n_faves}}</div>
</div>
</template>
