@import 'jeet'
@import 'axis'

#home-wrapper
  margin-top 30%
  height 100%
  width 100%
  center()

#tagline
  font-weight 100

#get-started
  center()
  margin-top 30%
  h1
    font-weight 300
    uppercase()

.action-btn
  uppercase()
  font-weight 200
  button green 'large'

.at-form
  center()
  max-width 350px
  height 0 !important
  text-align center

  .at-title
    uppercase()
    center()
    font-weight 100

  .at-oauth
    margin-bottom 10px

  .at-social-btn
    uppercase()
    width 100%
    margin-top 5px

  #at-github
    button gray

  #at-google
    button red

  #at-twitter
    button blue

  .at-btn
    uppercase()
    button green 'large'

  #at-signup-link
    uppercase()
    font-weight 200
