@import 'jeet'
@import 'axis'

#home-wrapper
  margin-top: 30%
  height: 100%
  width: 100%
  center()

#tagline
  font-weight: 100

#get-started
  center()
  margin-top: 30%
  h1
    font-weight: 300
    uppercase()

.action-btn
  uppercase()
  font-weight: 200
  button: green 'large'
