@import 'jeet'
@import 'axis'

// inner shadow
shadow()
  -moz-box-shadow    inset 0 0 3px #000000
  -webkit-box-shadow inset 0 0 3px #000000
  box-shadow         inset 0 0 3px #000000

// background transparency
background-transparency(color, alpha = 1)
  ms-color = argb(color, alpha)
  background rgb(color)
  background rgba(color, alpha)
  .lt-ie8 &
    zoom 1
  .lt-ie9 &
    background transparent
    filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color)
    &:nth-child(n)
      filter none

hex(decimal)
   hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
   unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])

argb(color, alpha = 1)
  unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))

#header-nav
  nav(20, white, #222, true)
  padding 10px

  img
    display inline-block
    height 100%

  .logo-col
    col(1/3)
    max-width 400px
    height 100%
    overflow hidden

  .menu-col
    col(1/3)
    width 170px
    max-width 18%
    height 100%
    padding 2px
    line-height 0
    overflow hidden

  .menu-btn
    button white
    background-transparency(white, 0.1)
    width 100%
    padding 5px
    max-height 40%
    margin-bottom 5px
    text-align left
    uppercase()
    font-weight 300
    font-size 1.2rem

    .mdi
      margin-top -1px
      margin-right 4px
      display inline-block
      font-size 1.3rem
      line-height inherit

  .user-card
    height 100%
    float right
    text-align right
    display inline-block
    clearfix()

  .avatar
    height 76px
    width 76px
  .avatar-circle .avatar-image, .avatar-circle .avatar-initials
    border 3px solid #333
    shadow()
